{% extends "registration/base.html" %}
{% load i18n %}

{% block registration_content %}
    {{ block.super }}
    <div class="row">
        <div class="six columns centered">
            <form method="post" action="." class="simple">
                {% csrf_token %}
                <div class="row">
                    <div class="twelve columns">
                    {{ form.as_p }}
                    </div>
                </div>

                <div class="row">
                    <div class="twelve columns text-right">
                        <input type="submit" class="submit button" value="{% trans 'Submit' %}">
                    </div>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
